* {
    box-sizing: border-box;
  }
:root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #025600;
  }
body{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: var(--background);
}
h1{
  font-weight: 500;
  margin: 0px;
  padding: 30px;
  font-size: 36px;
  background-color: var(--dark);
  color: var(--background-accent);
}
h2{
  font-weight: 150;
  float: right;
  padding-right: 97px;
  padding-top: 16px;
}
#disappear{
  display:inline-flex;
}
h3{
  display:inline;
  text-align:center;
  color: var(--dark);
  font-weight: 150;
  font-size: 66px;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 491px;
  height: 81px;
  border-radius: 30px;
}
#countdown {
    position: inherit;
    top: 0;
    right: 0;
  }
.quiz{
  display: block;
  width: 400px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
}
.question{
  font-size: 30px;
  margin-bottom: 50px;
}
.answers {
  text-align: left;
  display:inline-table;
}
.answers label{
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 20px;
  color: var(--dark);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
  margin-left: 5px;
}
#buttons {
  padding: 30px;
  display: flex;
}
button{
  position: relative;
  margin-top: 222px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	background-color: var(--dark);
	color: var(--background-accent);
	border: 0px;
	border-radius: 30px;
	padding: 20px;
	cursor: pointer;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
#quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
#resultsPage{
  display: block;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
}
#results{
  display: unset;
  margin-top: 222px;
  text-align:center;
  color: var(--dark);
  font-weight: 150;
  font-size: 66px;
  outline: none;
  border: none;
  background-color: var(--light);
  width: flex;
  border-radius: 30px;
}